body {
    margin: 0px;
    padding: 0px;
    background-color: #2c5364;
}

:root {
    --fuente1:'Bowlby One', cursive;
    --fuente2:'Quicksand', sans-serif;
    --menta: #65C7F7;
    --azul:  #0575E6;
    --negro: #0f2027;
}

.header {
    width: 100%;
    height: 100px;
    background-color:var(--negro);
    display: flex;
    justify-content: space-between;
}

.header__title{
    font-size: 55px;
    margin-left: 30px;
    color: var(--azul);
    font-family:var(--fuente1);
}

.header__menu--container{
    margin-right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.header__menu{
    list-style: none;
    display: flex;
}

.header__menu a{
    text-decoration: none;
    color: var(--azul);
    font-size: 22px;
    margin: 12px;
    font-family: var(--fuente2);
}

.header__menu a:hover{
    color: var(--menta);
    transition: 500ms;
}

.main {
    background-color: var(--verde);
    width: 100%;
    height: 781px;
    display: flex;
    justify-content: center;
}

.main__title {
    color: var(--negro);
    font-size: 55px;
    font-family: var(--fuente2);
    margin-top: 110px;
    padding-left: 23px;
}

.main__container hr {
    width: 390px;
}

.main__container p {
    color:var(--negro);
    font-family: var(--fuente2);
    font-size: 38px;
}

.main__button{
   width: 350px;
   display: block;
   background: linear-gradient(50deg, #43C6AC, #191654);
   padding: 20px 30px;
   text-align: center;
   margin: auto;
   margin-top: 110px;
   border: 0;
   letter-spacing: 2px;
   border-radius: 10px;
   transition: all 500ms;
}

.main__button a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    font-family: var(--fuente2);
}


.main__button:hover{
    transform: translate(20px);
    box-shadow: 0px 30px 5px -15px rgba(0,0,0,0.3);
}

.intro {  
    background-color: var(--verde);
}

.blog {
    margin: 90px 30%;
    font-family: var(--fuente2);
}

.contenido {
    color: var(--negro);
    text-align: justify;
}

.pagina2{
    color: var(--negro);
    text-align: center;
}